
// Generic app colors
$body-background:#f2f2f2;
$background-green: #00aa71;
$gutter: 16px;

// Card
$background-card-divider: #e0e0e0;

// Autosuggest
$header-background: #1a2b49;
$border-autosuggest: #aaa;
$title-autosuggest: #777;
$highlight-autosuggest: #ddd;
$container-autosuggest: #ccc;

// Zero state
$zero-state-background: #f5f4f9;
$zero-state-color: #9f9f9f;
